html {
	max-width: 88ch;
	padding: 3em 1em;
	margin: auto;
	font-family: monospace, monospace;
	font-size: min(max(1em, 1.3vw), 1.5em);
	line-height: 1.7;
}

h1,h2,h3,h4,h5,h6 {
  margin: 2em 0 1em;
}

p,ul,ol {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #1d1d1d;
  font-family: sans-serif;
}

img {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background: #efeff3;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  white-space: pre-wrap;
  width: fit-content;
}

#footnote {
  font-size: 0.75em;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1e1f21;
        color: #EEEFF1;
    }

    p,ul,ol {
        color: #EEEFF1;
    }

    pre {
        background: black;
    }
    a:link { color: #F55; }
    a:visited { color: #F55; }
    a:active { color: #F55; }
    a:hover { color: #FBB; }
}
